<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.raybritton.smartmirror">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MirrorApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MirrorTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.settings.AppActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".ui.settings.LogStatusActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:launchMode="singleTask"
            android:name=".ui.mirror.MirrorActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>